.about {

  @include media($mobile) {

    .container {
      display: flex;
      flex-direction: column;

      > * {
        order: 1;
      }

      > #contacts {
        order: 0;
        margin-top: 0 !important;
      }

      .contents {
        margin-top: 3.75rem;
      }
    }

  }
}