footer.mdl-grid
  .mdl-cell--12-col.mdl-grid.mdl-grid--no-spacing.footer-links

    .mdl-cell.mdl-cell-g4u--3-col
      .footer-links__title О магазине
      ul.footer-links__list
        li
          a(href='/about')
            | Контакты и доставка
        li
          a(href='/about/faq')
            | Частые вопросы
          ul
            li
              a(href='/about/faq/#q1') Способы оплаты
            li
              a(href='/about/faq/#q2') Гарантия
            li
              a(href='/about/faq/#q3') Возврат товара
            li
              a(href='#') Договор публичной оферты
        li
          a(href='/about/reviews') Отзывы


    .mdl-cell.mdl-cell-g4u--3-col.mdl-cell--hide-tablet.mdl-cell--hide-phone
      .footer-links__title Каталог украшений
      ul.footer-links__list
        li
          a(href='')
            | Помолвочные кольца
        li
          a(href='')
            | Обручальные кольца
        li
          a(href='')
            | Кольца на каждый день
        li
          a(href='')
            | Серьги
        li
          a(href='')
            | Колье, подвески, цепочки
        li
          a(href='')
            | Браслеты
        li
          a(href='')
            | Мужская коллекция
        li
          a(href='')
            | Коллекции
        li
          a(href='')
            | Конструктор колец


    .mdl-cell.mdl-cell-g4u--3-col.mdl-cell--hide-tablet.mdl-cell--hide-phone
      .footer-links__title Материалы
      ul.footer-links__list
        li
          a(href='/blog')
            | Ювелирная энциклопедия
        li
          a(href='/blog')
            | Идеи для подарков
        li
          a(href='/blog')
            | Новости


    .mdl-cell.mdl-cell-g4u--3-col.mdl-cell--hide-tablet.mdl-cell--hide-phone
      .footer-links__title Мой кабинет
      ul.footer-links__list
        li
          a(href='')
            | Войти
        li
          a(href='')
            | Зарегистрироваться
        li
          a(href='')
            | Личные данные
        li
          a(href='')
            | Отложенные
        li
          a(href='')
            | Список желаний
        li
          a(href='')
            | Корзина
        li
          a(href='')
            | История покупок


    .mdl-cell.mdl-cell-g4u--3-col
      .footer-links__title.footer-links__title--social Мы в социальных сетях
      ul.footer-links__social
        li
          a.facebook(href='#', title='GOLD4U в Facebook', target='_blank')
        li
          a.twitter(href='#', title='GOLD4U в Twitter', target='_blank')
        li
          a.pinterest(href='#', title='GOLD4U в Pinterest', target='_blank')
        li
          a.vkontakte(href='#', title='GOLD4U в VK', target='_blank')
        li
          a.googleplus(href='#', title='GOLD4U в Google+', target='_blank')
        li
          a.instagram(href='#', title='GOLD4U в Instagram', target='_blank')
        li
          a.medium(href='#', title='GOLD4U в Medium', target='_blank')


  .mdl-cell--12-col.mdl-grid.mdl-grid--no-spacing.pay-sub.mdl-cell--hide-tablet.mdl-cell--hide-phone

    .mdl-cell.mdl-cell-g4u--9-col.pay-sub__payment
      .nrg-typography-h6 Мы принимаем
      ul.pay-sub__payment-list
        li
          img(src='images/payments/visa@2x.png', alt='Visa')
        li
          img(src='images/payments/mastercard@2x.png', alt='MasterCard')
        li
          img(src='images/payments/americanexpress@2x.png', alt='American Express')
        li
          img(src='images/payments/dinersclub@2x.png', alt='Diners Club International')
        li
          img(src='images/payments/jcbcards@2x.png', alt='JCB Cards')
        li
          img(src='images/payments/rbkmoney@2x.png', alt='RBK Money')

    .mdl-cell.mdl-cell-g4u--6-col.pay-sub__subscription
      .nrg-typography-h6 Подписка на рассылку
      form(action='')
        label
          input(type='email')
          button.button_subscribe(type='submit')
            ins.icon.mail
            | Подписаться

  .mdl-cell--12-col.copyright
    .copyright__info
      | © 
      span.year
      |  Gold4u.ru



