nav.tabs
  ul
    li
      a(href='about.html')
        | О магазине и контакты
    li
      a(href='about_faq.html')
        | Часто задаваемые вопросы
    li
      a(href='about_delivery.html')
        | Доставка