section.nrg-tabs
  nav.tabs
    ul
      li
        a(href='/constructor.html') 
          ins.icon.boat
      li
        a(href='/constructor_step1.html') 1. Подобрать бриллиант
      li
        a(href='/constructor_step2.html') 2. Выбрать оправу кольца
      li
        a(href='/constructor_step3.html') 3. Ваше кольцо готово