section.nrg-tabs
  nav.tabs.cabinet__subheader
    ul
      li
        a(href='/cabinet/personal-info') Личные данные
      li
        a(href='/cabinet/wishlist')
          ins.icon.heart
          |         Wishlist 
          span.num 0
      li
        a(href='/cabinet/favourites')
          ins.icon.star
          |         Отложенные 
          span.num 4
      li
        a(href='/cabinet/cart')
          ins.icon.cart
          |         Корзина 
          span.num 0
      li
        a(href='/cabinet/orders-history/') История заказов
