.popup.popup__quicklook.popup__quicklook--type1
  ins.close ×
  //- ins.prev
  //- ins.next
  .item_info.mdl-grid.mdl-grid--no-spacing
    .mdl-cell.mdl-cell--1-col.tabs__prev
      a.tabs__prev-link( href='#' )

    .gallery.mdl-cell.mdl-cell--6-col.mdl-grid.mdl-grid--no-spacing
      .thumbnails.mdl-cell.mdl-cell--3-col
        ul.thumbnails_list
          li.thumbnail
            img(src='images/items/item/small/2.jpg', data-big='images/items/item/big/2.jpg', alt='')
          li.thumbnail
            img(src='images/items/item/small/3.jpg', data-big='images/items/item/big/1.jpg', alt='')
          li.thumbnail
            img(src='images/items/item/small/1.jpg', data-big='images/items/item/big/2.jpg', alt='')
      .big_view.mdl-cell.mdl-cell--9-col
        img(src='images/items/item/big/2.jpg', alt='')

    .item_details.mdl-cell.mdl-cell--4-col.mdl-grid.mdl-grid--no-spacing
      .mdl-cell.mdl-cell--12-col
        .item_param
          h2
            | Кольцо
            span.slaquo  
            br
            span.hlaquo «
            | Love Forever»
        .item_param
          p.value
            | Из красного золота 585 пробы
            | основная вставка: Бриллиант
        .item_param
          p.label
            | Размер кольца
          .custom_select
            select(name='', id='')
              option(value='') 18
          a.how_to(href='#')
            | Как определить
            br
            | размер кольца
        .item_param
          p.label
            span.availability
              | В наличии
          .prices
            span.old_price 8 500 ₽
            span.price 7 200 ₽
        .actions
          a.button.add_to_cart(href='#')
            | В Корзину
          span.button-s.defer_to_compare
            ins.icon.star
            | Отложить к сравнению
          span.button-s.add_to_wishlist
            ins.icon.heart
            | Добавить в Список Желаний

    .mdl-cell.mdl-cell--1-col.tabs__next
      a.tabs__next-link( href='#' )



.popup.popup__quicklook.popup__quicklook--type2
  ins.close ×
  //- ins.prev
  //- ins.next
  .item_info.mdl-grid.mdl-grid--no-spacing
    .mdl-cell.mdl-cell--1-col.tabs__prev
      a.tabs__prev-link( href='#' )

    .gallery.mdl-cell.mdl-cell--6-col.mdl-grid.mdl-grid--no-spacing
      .thumbnails.mdl-cell.mdl-cell--3-col
        ul.thumbnails_list
          li.thumbnail
            img(src='images/items/item/small/1.jpg', data-big='images/items/item/big/1.jpg', alt='')
          li.thumbnail
            img(src='images/items/item/small/2.jpg', data-big='images/items/item/big/2.jpg', alt='')
          li.thumbnail
            img(src='images/items/item/small/1.jpg', data-big='images/items/item/big/1.jpg', alt='')
          li.thumbnail
            img(src='images/items/item/small/2.jpg', data-big='images/items/item/big/2.jpg', alt='')

      .big_view.mdl-cell.mdl-cell--9-col
        img(src='images/items/item/big/1.jpg', alt='')


    .item_details.mdl-cell.mdl-cell--4-col.mdl-grid.mdl-grid--no-spacing
      .mdl-cell.mdl-cell--12-col
        .item_param
          h2
            | Кольцо помолвочное
            span.slaquo  
            span.hlaquo «
            | Каприз принцессы»
        .item_param
          p.value
            | Доступно в белом, розовом золоте и платине. Бриллиант от 0,4 карат.
        .item_param
          p.label
            span.availability
              | В наличии
          .prices
            span.price от 7 200 ₽
            i.tip
              span.tip_info
                p
                  | Цена зависит от брилианта
        .item_param.item_param--size
          p.label
            | Размер кольца
          .custom_select
            select(name='', id='')
              option(value='') 18
          a.how_to(href='#')
            | Как определить
            br
            | размер кольца
        .actions
          a.button.add_to_cart(href='#')
            | Подробнее
          span.button-s.defer_to_compare
            ins.icon.star
            | Отложить к сравнению
          span.button-s.add_to_wishlist
            ins.icon.heart
            | Добавить в Список Желаний

    .mdl-cell.mdl-cell--1-col.tabs__next
      a.tabs__next-link( href='#' )