.icon {
	display: inline-block;
	line-height: inherit;
	background-image: url('../images/icons/icons.png');
	background-repeat: no-repeat;
	background-size: 285px 325px;
	position: relative;
	vertical-align: middle;
	top: -2px;
	@include transition(opacity 0.15s);

	&.search {
		width: 15px;
		height: 15px;
		background-position: 0px -0px;
	}

	&.key {
		width: 20px;
		height: 15px;
		background-position: -35px 0px;
	}

	&.star {
		width: 17px;
		height: 17px;
		background-position: -77px 0px;

		&:hover {
			background-position: -77px -21px;
		}
	}

	&.remove {
		width: 18px;
		height: 18px;
		background-image: url('../images/icons/remove@2x.png');
		background-size: 18px;
	}


	&.heart {
		width: 18px;
		height: 18px;
		background-position: -116px -1px;
	}

	&.unwish {
		width: 18px;
		height: 18px;
		background-image: url('../images/icons/unwish@2x.png');
		background-size: 18px 20px;
		background-position: 0 -2px;
	}

	&.cart {
		width: 20px;
		height: 17px;
		background-position: -151px -1px;

		&.w {
			background-position: -151px -177px;
		}
	}

	&.boat {
		width: 20px;
		height: 18px;
		background-position: -264px -79px;
	}

	&.quicklook {
		width: 22px;
		height: 16px;
		background-position: -231px 0px;
	}

	&.i {
		width: 17px;
		height: 17px;
		background-position: -268px -177px; 
	}

	&.info {
		width: 17px;
		height: 17px;
		background-position: -269px 0px;
	}

	&.time {
		width: 16px;
		height: 16px;
		background-position: 0;
		background-image: url("../images/icons/time@2x.png");
		background-size: 16px	; 
	}

	&.rrarr {
		width: 8px;
		height: 13px;
		background-position: -137px -206px; 
	}




	&.cut {
		&.circle {
			width: 20px;
	    height: 20px;
	    background-position: -39px -80px;
		}
		&.heart {
			width: 24px;
			height: 21px;
			background-position: -75px -80px;
		}
		&.princess {
			width: 24px;
			height: 22px;
			background-position: -115px -80px;
		}
	}



	&.phone2x {
		width: 30px;
		height: 26px;
		background-image: url('../images/icons/phone@2x.jpg');
		background-size: contain;
	}

	&.star2x {
		width: 26px;
		height: 25px;
		background-image: url('../images/icons/star@2x.jpg');
		background-size: contain;
	}

	&.star2x {
		width: 32px;
		height: 27px;
		background-image: url('../images/icons/cart@2x.jpg');
		background-size: contain;
	}
}