.section.item_info {
	position: relative;
	width: 100%;

	@include media($desktop1024) {
	  width: 100%;
	}

	@include media($desktop1280) {
	  width: 1240px;
	}

	@include media($desktop1600) {
	  max-width: 1240px;
	}

	

	.share {
		position: absolute;
		right: 0;
		top: 0;
		width: 35px;
		margin: 0;

		&:after {
			display: block;
			content: "+";
			width: 35px;
			height: 35px;
			text-align: center;
			line-height: 40px;
			border: 1px solid #999999;
			color: #999999;
			font-size: 35px;
			cursor: pointer;
			position: absolute;
			left: 0;
			right: 0;
			bottom: -35px;
		}

		&:hover {
			color: #000000;
			border-color: black;

			&:after {
				display: none;
			}

			> li {
				display: block !important;
			}
		}

		li:nth-child(4) {
			

			~ li {
				display: none;
			}
		}
	}
}

.thumbnails_list {
	display: block;
	margin: 0;
	padding: 0;

	li {
		display: block;
		margin: 0;
		padding: 0;
		width: 90px;
		height: 90px;

		&+li {
			margin-top: rem(10px);
		}
	}
}


.about_this_item {
	
}

.additional_info {
	@include row;

	.tabs {
		margin-bottom: rem(40px);
	}

	.tabs_content {
		.about_item_content,
		.recently_viewed_content,
		.comments_for_item {
			.container {
				width: 1000px;
			}
		}
	}

	.about__similar {
		@include span-columns(4 of 10);
		@include shift(1);

		article {
			h1,
			.h1 {
				margin-top: 0;
			}
		}

		.products_small_gallery {
			.catalogue_items {
				margin: 0 -8px;
				text-align: left;
			}

			.item {
				display: inline-block;
			}
		}
	}

	&.in_steps {
		.about__similar {
			@include span-columns(8 of 10);
			@include row;

			article {
				@include span-columns(4 of 8);
				padding-right: 20px;
			}

			.products_small_gallery {
				@include span-columns(4 of 8);
				@include omega;

				p {
					margin-bottom: 15px;
				}
			}
		}

		.tabs_content {
			max-width: 1000px;
			margin: 0 auto;
		}
	}

	aside.banners {
		@include span-columns(4 of 10);
		@include shift(1);
		@include omega;

		.banner {
			display: block;

			&+.banner {
				margin-top: 10px;
			}
		}
	}


	.recently_viewed {
		.catalogue_items {
			text-align: left;
			.item {
				display: inline-block;
			}
		}	
	}
}


