@import "icons";







// @import "base/tablike_heading";
// @import "base/tabs";
@import "base/buttons";
// @import "base/forms";
// @import "base/arrows";
@import "base/select2";

// @import "base/about_text";
// @import "base/info_card";
// @import "base/breadcrumbs";


@import "base/main_screen_grid";
@import "base/gallery_items";


.phone {
	border: 0;
	text-decoration: none;
	color: inherit;
}



.grid {
	@include media($desktop1024) {
		// width: 990px !important;

	  .small_layout {
	    display: none;
	  }

	  .mid_layout {
	    display: block;
	  }

	  .big_layout {
	    display: none;
	  }
	}

	@include media($desktop1280) {
		width: 990px !important;

	  .small_layout {
	    display: none;
	  }

	  .mid_layout {
	    display: block;
	  }

	  .big_layout {
	    display: none !important;
	  }
	}

	@include media($desktop1600) {
	  width: 1390px;

	  .small_layout {
	    display: none;
	  }

	  .mid_layout {
	    display: none !important;
	  }

	  .big_layout {
	    display: block;
	  }
	}
}




// POPUP











.item_param-group {
	@include row;

	.item_param {
		@include span-columns(1 of 2);
	}
}




.aside_info_link {
	display: inline-block;
	vertical-align: middle;
	font-size: rem(10pt);
	line-height: em(12pt, 10pt);
	font-family: proxima;
	font-weight: 100;
	margin-left: rem(10px);
	text-decoration: underline;
}