.error {
	width: 100% !important;
}


.error_message_with_search {
	background-color: #985051;
	color: white;
	max-width: 100%;
	text-align: center;
	padding: 110px 0 75px;
	background-image: url("../images/error-ring.png");
	background-repeat: no-repeat;
	background-position: 110% 140%;
	background-size: 612px 570px;


	.h1 {
		width: 35%;
		margin: 0 auto;
	}


	.search_block {
		margin: 110px auto 210px;

		label {
			input, button {
				box-shadow: -12.1px 7px 16px rgba(0, 0, 0, 0.11);
			}
		}

		input {
			position: relative;
			z-index: 1;
			border-right: 0;
			margin-right: -1px;
		}

		.search__button {
			background-color: #7a4243;
			position: relative;
			left: -3px;
			z-index: 0;
		}

		input:focus {
			box-shadow: -12.1px 7px 16px rgba(0, 0, 0, 0.31);

			&+button {
				box-shadow: -12.1px 7px 16px rgba(0, 0, 0, 0.31);
			}
		}
	}
}



label.search {
	input[type="search"],
	input[type="text"] {

	}

	.search__button {

	}
}