.p-favoiurites {
	.catalogue_items.grid {
		.item {
			.title {
				display: block;
			}

			&:hover {
				.title {
					display: none;
				}
			}
		}
	}
}



.products_table {
	counter-reset: list;

	.product_row {
		@include row;
		position: relative;
		border-bottom: 1px solid #efe3e3;
		padding: 20px 0;
		min-height: 220px;

		&.discount {
			min-height: 100px;
		}

		&.product {
			&:before {
				position: absolute;
				left: 0;
				top: 47%;
				counter-increment: list;
				content: counter(list);
				font-size: rem(13pt);
			}
		}

		.figure {
			@include span-columns(2 of 10);
			@include shift(1);
		}

		.discount_field,
		.delivery_short_info {
			@include shift(1);
			@include span-columns(6 of 10);
			min-height: 100px;
			display: table;

			label {
				display: table-cell;
				vertical-align: middle;

				input {
					display: block;
					width: 70%;
				}
			}

			&+.product_price {
				height: 100px;

				.label {
					color: #9a9b9d;
			    font-size: 0.625rem;
			    display: block;
			    /* line-height: 1; */
			    position: relative;
			    top: 30px;
				}

				.price {
					line-height: 100px;
				}
			}
		}

		.delivery_short_info + .product_price {
			.price {
				white-space: nowrap;
			}
		}

		.product_info {
			@include span-columns(4 of 10);
			padding-left: 20px;
			display: table;
			vertical-align: middle;

			.product_title {
				margin-top: 0;
				max-width: 330px;
			}

			.more {
				text-decoration: underline;
				color: $red;

				&:hover {
					color: #000;
				}
			}

			.item_param {
				width: 100%;

				p.item_about {
					max-width: 200px;
					color: #363636;
					font-size: rem(13pt);
					line-height: 18px;
				}

				.custom_select {
					width: 100%;
					max-width: 270px;
					display: inline-block;
				}

				.aside_info_link {
					// @include span-columns(1 of 10);
					float: right;
					position: absolute;
					margin-top: 3px;
				}

				.half {
					float: left;
					max-width: 130px;

					.custom_select {
						width: 100%;
						max-width: 130px;
						float: left;
					}

					&+.half {
						margin-left: 10px;
					}
				}
			}

			.label {
				font-size: rem(10pt);
			}
		}
		.product_price {
			@include span-columns(2 of 10);
			@include shift(1);
			display: inline-block;
			height: 220px;
			position: relative;
			float: right;

			.label {
				@extend .proxima;
				color: #9a9b9d;
				font-size: rem(10pt);
				display: block;
			}

			.price {
				font-size: rem(27pt);
				// height: 50px;
				line-height: 220px;
			}
		}

		.how_many {
			@include span-columns(1 of 10);
			display: table;
			height: 220px;
			vertical-align: middle;

			.content {
				vertical-align: middle;
				display: table-cell;
				height: 50px;
				top: -10px;
				position: relative;
			}

			.label {
				@extend .proxima;
				color: #9a9b9d;
				font-size: rem(10pt);
			}

			input[type="number"],
			input[type="text"]{
				display: block;
				position: relative;
				background-color: #fff;
				width: 100%;
				padding: 0 10px;
				height: 35px;
				line-height: 35px;
				border: 1px solid black;
			}

			&+.product_price {
				@include shift(0);
			}
		}

		.remove_from_favourites,
		.remove_order {
			right: 0;
			position: absolute;
			top: 50%;
			margin-top: -7px;

			.remove,
			.order__remove {
				cursor: pointer;
			}

			.order__remove {
				font-size: rem(40pt);
				line-height: 50px;
				height: 50px;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				width: 50px;
				cursor: pointer;
				margin-top: -20px;
			}
		}
	}

}



.user_info__form {
	.form__fields {
		margin-bottom: 80px;
	}
}