.about_info {
  @include media($mobile) {
    display: none;
  }

  h1 {
    @include row();
    text-align: center;
    font-size: em(32.5px);
    margin: em(20pt) auto;
  }
  h2 {
    text-align: center;
    @include span-columns(8 of 15);
    @include shift(3.5); 
    font-size: em(21pt);
    line-height: em(24pt);

    margin-top: 0;
    margin-bottom: em(35px);
  }

  article {
    margin: 0 auto;
    text-align: justify;
    // @include row();
    @include span-columns(8 of 10);
    @include shift();

    @include columns(2);
    @include column-gap(60px);


    @include media($desktop1600) {
      @include span-columns(9 of 15);
      @include shift(3);
      @include column-gap(90px);
    }
  }
}