extends layouts/application

append config
  - var PageTitle = 'Доставка'
  - var PageClass = 'delivery'
  - var PagePath = '/'

block breadcrumbs

  nav.breadcrumbs.light
    ul.breadcrumbs_list
      li
        a(href='/', title='Главная') Главная
      li
        a(href='/about/', title='О магазине') О магазине
      li
        a(href='/about/delivery', title='Отзывы') Доставка


block nav_tabs
  include shared/_nav_tabs_static_page


block content
  
  section.mdl-grid.page-about
    .mdl-cell.mdl-cell--8-col.mdl-cell--2-offset-desktop.mdl-cell--6-col-tablet.mdl-cell--1-offset-tablet

      article.page__article
        .nrg-typography-h1 Ответы на часто задаваемые вопросы
        ul.contents-list
          li
            a.pseudo(href='#q1')
              | 1. Способы оплаты
          li
            a.pseudo(href='#q2')
              | 2. Гарантия
          li
            a.pseudo(href='#q3')
              | 3. Возврат товара
          li
            a.pseudo(href='#q4')
              | 4. Контакты
          li
            a.pseudo(href='#q5')
              | 5. Договор публичной оферты
          li
            a.pseudo(href='#q6')
              | 6. Могу ли я быть уверенным, что Вы обладаете необходимыми документами и правом на торговлю ювелирными изделиями?
          li
            a.pseudo(href='#q7')
              | 7. Могу ли я быть уверен(а), что ювелирное изделие, которое я приобретаю, настоящее?
          li
            a.pseudo(href='#q8')
              | 8. Мне понравилось изделие, могу ли я его посмотреть его где-нибудь в «живую», прежде чем куплю?
          li
            a.pseudo(href='#q9')
              | 9. Могу ли я к вам приехать посмотреть, выбрать и купить?
          li
            a.pseudo(href='#q10')
              | 10. Я хочу заказать кольцо, а необходимого размера нет в списке, что мне делать?
          li
            a.pseudo(href='#q11')
              | 11. Можете ли Вы изготовить необходимое мне ювелирное изделие на заказ?
          li
            a.pseudo(href='#q12')
              | 12. Я увидел(а) на вашем сайте ювелирное изделие с сапфирами, могу ли я купить эту модель, но с изумрудами?
          li
            a.pseudo(href='#q13')
              | 13. Почему цены в Вашем интернет-магазине ниже, чем в обычном ювелирном магазине?
          li
            a.pseudo(href='#q14')
              | 14. Я видел(а) похожие изделия в другом интернет-магазине, по значительно более низкой цене, как Вы это объясните?
          li
            a.pseudo(href='#q15')
              | 15. Кто производит ювелирные изделия, которые представлены в Вашем интернет–магазине?
          li
            a.pseudo(href='#q16')
              | 16. Почему цена, которую мне называет оператор, отличается от цены указанной на сайте?
          li
            a.pseudo(href='#q17')
              | 17. Как и где получить точную информацию об изделии и драгоценных камнях в нем?
          li
            a.pseudo(href='#q18')
              | 18. Возможно ли, что в описании изделия указана неверная информация?
          li
            a.pseudo(href='#q19')
              | 19. Я живу за границей, как я могу купить понравившееся ювелирное изделие?
          li
            a.pseudo(href='#q20')
              | 20. Курьер привез мне изделие, которое мне не подходит. Могу ли я его вернуть?
          li
            a.pseudo(href='#q21')
              | 21. Входит ли НДС в цену, указанную на сайте?
          li
            a.pseudo(href='#q22')
              | 22. Сколько стоит доставка?
          li
            a.pseudo(href='#q23')
              | 23. Существует ли в вашем магазине система скидок?
          li
            a.pseudo(href='#q24')
              | 24. Через какое время, после оформления заказа на сайте, можно получить ответ?
          li
            a.pseudo(href='#q25')
              | 25. Если изделие сломалось или выпал камень, какие гарантии?
          li
            a.pseudo(href='#q26')
              | 26. Как к Вам подъехать, чтобы померить и посмотреть изделия?
          li
            a.pseudo(href='#q27')
              | 27. Как производится доставка?
          li
            a.pseudo(href='#q28')
              | 28. Циркон, кубик циркония или фианит – что лучше и в чем отличие?
          li
            a.pseudo(href='#q29')
              | 29. Могу ли я купленный у вас Подарочный сертификат поменять на деньги?
          li
            a.pseudo(href='#q30')
              | 30. Может ли привезти курьер несколько вариантов изделий на выбор?
          li
            a.pseudo(href='#q31')
              | 31. Мне привезли кольцо – оно мне велико (мало), что делать?
          li
            a.pseudo(href='#q32')
              | 32. Что делать, если на бирке указан размер 18,5, а в ювелирном магазине, померив, мне сказали, что это 19 размер?


      article.page__article#q1
        .nrg-typography-h2 1. Способы оплаты
        p
          | Оплата банковской картой:
          | Вы можете оплатить Ваш заказ непосредственно на нашем сайте без каких-либо ограничений или через мобильный терминал у курьера при доставке по г.Москва. Мы принимаем к оплате следующие банковские карты - Visa International, MasterCard Worldwide, Diners Club, JCB, American Express через платежную систему РВК Money.
        ul.pay-sub__payment-list
          li
            img(src='/images/payments/visa@2x.png', alt='Visa')
          li
            img(src='/images/payments/mastercard@2x.png', alt='MasterCard')
          li
            img(src='/images/payments/americanexpress@2x.png', alt='American Express')
          li
            img(src='/images/payments/dinersclub@2x.png', alt='Diners Club International')
          li
            img(src='/images/payments/jcbcards@2x.png', alt='JCB Cards')
          li
            img(src='/images/payments/rbkmoney@2x.png', alt='RBK Money')

        p
          | Платежная система RBK Money соответствует стандарту безопасности данных PCI DSS, а это значит, что данные банковских карт надежно защищены. Поддержка технологии 3-D Secure (Verified by Visa и MasterCard SecureCode) обеспечивает защиту от мошенничества.
        p
          | Оплата наличными курьеру:
          | осуществляется в момент доставки товара после того, как Вы ознакомились с товаром и сопроводительными документами. Курьер ВСЕГДА выдает Вам кассовый и товарный чек!
        p
          | Банковский перевод: 
          br
          |         Вы можете оплатить Ваш заказ осуществив перевод на наш расчетный счет, не забывайте указывать номер Вашего заказа или Договора на изготовление ювелирного изделия. 
          br
          |         Если у Вас есть необходимость произвести оплату иным способом, свяжитесь с нами по тел. +7 (495) 790-72-25 
          br
          |         Подробные ответы на возникающие вопросы Вы можете получить в разделах: Контакты, Доставка, Гарантии, Возврат товара, Договор публичной оферты.



      article.page__article#q2
        .nrg-typography-h2 2. Гарантия
        p
          | В соответствии с действующим законодательством РФ производитель/продавец товара вправе устанавливать гарантийный срок на продаваемую продукцию.
          | На все ювелирные изделия, приобретенные в интернет-магазине GOLD4U.ru, мы установили гарантийный срок – 45 лет, практически это эквивалентно пожизненной гарантии. На часы гарантийный срок устанавливается производителем часов.
        p
          | В случае обнаружения брака или поломки ювелирного изделия мы бесплатно произведем ремонт или предоставим Вам равноценную замену. Гарантия распространяется только на случаи, в которых экспертизой было установлено наличие технологического брака.
        p
          | Экспертное заключение Вы можете получить самостоятельно и предоставить нам вместе с товарным чеком и накладной, подтверждающими факт покупки ювелирного изделия в нашем магазине. 
          br
          |         Если вы не знаете, где сделать экспертизу или у Вас нет времени и желания заниматься этим самостоятельно, Вы можете передать нам ювелирное изделие с сопроводительными документами, и мы самостоятельно проведем независимую экспертизу.
        p
          | В случае подтверждения брака производителя будет осуществлен бесплатный ремонт.


      article.page__article#q3
        .nrg-typography-h2 3. Возврат товара
        p
          | Уважаемые покупатели!
          | Обращаем Ваше внимание на то, что в соответствии с действующим законодательством Российской Федерации не подлежат возврату или обмену следующие товары надлежащего качества «…Изделия из драгоценных металлов, с драгоценными камнями, из драгоценных металлов со вставками из полудрагоценных и синтетических камней, ограненные драгоценные камни…» (ПЕРЕЧЕНЬ НЕПРОДОВОЛЬСТВЕННЫХ ТОВАРОВ НАДЛЕЖАЩЕГО КАЧЕСТВА, НЕ ПОДЛЕЖАЩИХ ВОЗВРАТУ ИЛИ ОБМЕНУ НА АНАЛОГИЧНЫЙ ТОВАР ДРУГИХ РАЗМЕРА, ФОРМЫ, ГАБАРИТА, ФАСОНА, РАСЦВЕТКИ ИЛИ КОМПЛЕКТАЦИИ  Утвержден Постановлением Правительства Российской Федерации от 19 января 1998 г. N 55)
          | Мы прекрасно понимаем, что зачастую возникают ситуации, которые трудно предусмотреть и мы индивидуально рассматриваем каждую ситуацию, связанную с необходимостью осуществить возврат товара.
          | Пожалуйста, сохраняйте товарный и кассовый чеки и упаковку, не отрывайте бирку и не нарушайте целостность пломбы ярлыка ювелирного изделия, только в этом случае мы сможем рассмотреть вопрос о возврате товара.
          | Если у Вас есть вопросы, свяжитесь с нами по тел. +7 (495) 790-72-25
          | Подробные ответы на возникающие вопросы Вы можете получить в разделах: Контакты, Доставка, Способы оплаты, Гарантии, Договор публичной оферты.
          | А сейчас предлагаем Вам перейти в каталог ювелирных изделий от GOLD4U.ru


      article.page__article#q4
        .nrg-typography-h2 4. Контакты
        .nrg-typography-h3 
          | Для покупателей: 
          br
          | 8-800-555-99-54, 8-495-790-72-25,  sale@gold4u.ru

        .mdl-grid.mdl-grid--no-spacing.premap-contact
          .mdl-cell.mdl-cell--5-col.mdl-cell--3-col-tablet
            p
              | PR и реклама: +7 (495) 790-72-25, доб. 106 
              br
              | Оптовые продажи:  +7 (495) 790-72-24 
              br
              | Для поставщиков: +7(495) 790-72-25, доб. 110
            p
              | Офис:  107023, Россия, Москва, 
              br
              | Малая Семёновская,  д. 9, стр. 3. офис 283
            p
              | Время работы: пн.-пт. 9:00 - 18:00 
              br
              | Время работы доставки: с 7:00 до 22:00


          .mdl-cell.mdl-cell--5-col.mdl-cell--1-offset-desktop.mdl-cell--4-col-tablet.mdl-cell--1-offset-tablet
            p
              | Претензии и рекламации: 
              br
              | +7 (495) 790-72-25, доб. 109
            p
              | Генеральный директор —
              | Янчевская Ольга Михайловна
              | olga@gold4u.ru
            p
              | SKYPE:  gold_4u 
              br
              | ICQ:  492-114-803




    .mdl-cell.mdl-cell--12-col
      .map
        script(type='text/javascript', charset='utf-8', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=QhzOH95AcPwlWddyrlUdp2_fQ1u8lCqF&width=auto&height=350')


    .mdl-cell.mdl-cell--8-col.mdl-cell--2-offset-desktop.mdl-cell--6-col-tablet.mdl-cell--1-offset-tablet
      article.page__article#q6
        .nrg-typography-h2
          a.link(href='', title='', target='_blank') 5. Договор публичной оферты
        

      article.page__article#q6
        .nrg-typography-h2 6. Могу ли я быть уверенным, что Вы обладаете необходимыми документами и правом на торговлю ювелирными изделиями?
        p
          | Да, мы обладаем всеми необходимыми документами и разрешениями на торговлю ювелирными изделиями: 
          br
          |         ООО «Велес» 
          br
          |         ИНН/КПП: 7719803419/ 771901001
          br
          |         Свидетельство о гос. регистрации юридического лица №: 11127746093034
          br
          |         Свидетельство о постановке на специальный учет №: 0160021473, выдано Российской Государственной Пробирной палатой
          br
          |         Юридический адрес: 107023, г.Москва, улица Большая Семёновская, д. 40, стр. 13
          br
          |         Фактический адрес: 107023, г.Москва, Малая Семёновская, д.9, стр.3
          br
          |         Тел./факс:  (495) 790 72 25
          br
          |         e-mail: sale@gold4u.ru


      article.page__article#q7
        .nrg-typography-h2 7. Могу ли я быть уверен(а), что ювелирное изделие, которое я приобретаю, настоящее?
        p
          | Да, Вы приобретаете ювелирное изделие, которое полностью соответствует всем заявленным на бирке характеристикам. Проба золота подтверждена Государственной Инспекцией Пробирного Надзора (ГИПН РФ) и указана на штампе, который есть на каждом ювелирном изделии. Кроме этого на изделии есть штамп (именник) производителя ювелирного изделия, присвоенный производителю ГИПН РФ. Соответствие вставок в изделии – гарантировано производителем, наименование которого так же обязательно указано на бирке.



      article.page__article#q8
        .nrg-typography-h2 8. Мне понравилось изделие, могу ли я его посмотреть его где-нибудь в «живую», прежде чем куплю?
        p
          | Оставьте заказ на нашем сайте или по телефону. Курьер привезет Вам изделие, в случае если оно Вам не понравилось или не подошло, Вы вправе от него отказаться, оплатив при этом стоимость доставки.



      article.page__article#q9
        .nrg-typography-h2 9. Могу ли я к вам приехать посмотреть, выбрать и купить?
        p
          | Все наши изделия представлены исключительно на витрине нашего ювелирного интернет-магазина по адресу www.gold4u.ru , мы постоянно работаем над качеством изображений, чтобы Вам было легче сделать Ваш выбор. Однако, после оформления заказа и согласования с менеджером времени, вы можете подъехать к нам в офис, чтобы самостоятельно забрать заказ. В офисе будет исключительно ваш заказ, а не весь ассортимент с сайта.




      article.page__article#q10
        .nrg-typography-h2 10. Я хочу заказать кольцо, а необходимого размера нет в списке, что мне делать?
        p
          | Список размеров содержит только наиболее распространенные размеры колец и колье, если Вам необходимо ювелирное изделие другого размера, свяжитесь с нашими операторами. Возможно, мы сможем изготовить изделие необходимого Вам размера.


      article.page__article#q11
        .nrg-typography-h2 11. Можете ли Вы изготовить необходимое мне ювелирное изделие на заказ?
        p
          | Если Вы видели необходимое Вам ювелирное изделие в нашем интернет-магазине и оно по каким-либо причинам не походит Вам (например, нет в наличии подходящего размера или изделие нужно в другом цвете золота), то скорее всего, мы сможем изготовить необходимое изделие на заказ.
        


      article.page__article#q12
        .nrg-typography-h2 12. Я увидел(а) на вашем сайте ювелирное изделие с сапфирами, могу ли я купить эту модель, но с изумрудами?
        p
          | Большинство моделей, с цветными драгоценными камнями, которые представлены
          | в нашем интернет-магазине, могут быть выполнены с другими вставками.
          | Если вам необходимо изделие с другой вставкой, просто сообщите об этом оператору



      article.page__article#q13
        .nrg-typography-h2 13. Почему цены в Вашем интернет-магазине ниже, чем в обычном ювелирном магазине?
        p
          | Объем наших закупок от производителей, а также наши отношения с ними, позволяют нам поддерживать привлекательные для покупателей цены. Кроме этого в отличие от обычного ювелирного магазина, наши расходы заметно ниже (например, за счет аренды меньшего по размерам помещения, меньшего числа сотрудников и т.П.), поэтому наша цена несколько ниже обычной цены в обычном ювелирном магазине.


      article.page__article#q14
        .nrg-typography-h2 14. Я видел(а) похожие изделия в другом интернет-магазине, по значительно более низкой цене, как Вы это объясните?
        p
          | Мы уважаем наших конкурентов и не можем влиять на их ценовую политику, но, тем не менее, если цена отличатся значительно, то, скорее всего это ошибка или вы столкнулись с товаром сомнительного происхождения и качества.


      article.page__article#q15
        .nrg-typography-h2 15. Кто производит ювелирные изделия, которые представлены в Вашем интернет–магазине?
        p
          | В настоящее время в нашем интернет-магазине представлены изделия от нескольких крупнейших российских и московских поставщиков.



      article.page__article#q16
        .nrg-typography-h2 16. Почему цена, которую мне называет оператор, отличается от цены указанной на сайте?
        p
          | Цена ювелирного изделия в основном зависит от веса золота, а так же веса и количества драгоценных камней. Каждое изделие – индивидуально, поэтому на сайте указана цена за изделие с усредненными параметрами. Если оператор называет вам другую цену, он обязан уточнить с чем это связано. Обычно цена может увеличиться или уменьшиться из-за меньшего или большего веса золота (например, кольцо 17-го размера будет стоить меньше кольца 19.5 размера, при одинаковом весе вставок) или при изменении веса драгоценных камней.



      article.page__article#q17
        .nrg-typography-h2 17. Как и где получить точную информацию об изделии и драгоценных камнях в нем?
        p
          | Вся информация находится на бирке ювелирного изделия.
          | На бирке должны быть указаны:
          | Наименование изделия, например «кольцо»
          | Артикул – специальное обозначение, используемое производителем
          | Металл и его проба , например  «золото 585?»
          | Размер изделия, например «17.5»
          | Масса изделия – «3.48 гр.»
          | Цена изделия за грамм
          | Цена изделия
          | На лицевой стороне бирки обязательно присутствует голограмма завода изготовителя.
          | На обратной стороне бирки указаны:
          | Характеристики вставок, например «2 бр.,57 кр.,0.19 кт.,4/6», что означает:
          | В изделии 2 бриллианта, огранка бриллиантов круглая 57 граней, общий вес  бриллиантов 0.19 карат, характеристика бриллиантов 4/6 (4-цвет, 6-чистота)
          | Или
          | 4 изумр.Нат., 0.17 кт., 4/3  - 4 натуральных изумруда, вес 0.17 карат,   характеристика 4/3: (4-цвет, 3-чистота)
          | Или
          | Кубик циркония 3,  т.Е. 3 вставки кубика циркония
          | Также на бирке отмечены: отк 4 – отдел технического контроля фабрики, контролер №4 и штрихкод изделия, в котором содержится вся информация об изделии.
          | Бирка крепится к изделию специальной ниткой с пломбой,  исключающую возможность подмены изделия или бирки. Бирка  является официальным сертификатом завода изготовителя на данное ювелирное изделие.



      article.page__article#q18
        .nrg-typography-h2 18. Возможно ли, что в описании изделия указана неверная информация?
        p
          | Мы прилагаем все усилия, чтобы вся информация на нашем сайте, включая цены, была аккуратная и верная, но иногда по разным причинам на сайте появляется ошибочная информация.  Заранее приносим извинения. Ошибки, как правило, исправляются оперативно, и естественно, продажи по ошибочным ценам осуществляться не может. Мы оставляем за собой право изменения любой информации на сайте без предварительного уведомления.
       


      article.page__article#q19
        .nrg-typography-h2 19. Я живу за границей, как я могу купить понравившееся ювелирное изделие?
        p
          | В настоящее время продажа и доставка ювелирных изделий в нашем магазине возможна только на территории российской федерации. Мы прилагаем максимум усилий, чтобы в будущем предоставить вам такую возможность.



      article.page__article#q20
        .nrg-typography-h2 20. Курьер привез мне изделие, которое мне не подходит. Могу ли я его вернуть?
        p
          | Покупатель имеет полное право без объяснения причин вернуть доставленное изделие курьеру, оплатив при этом стоимость доставки, указанную в сопроводительных документах.



      article.page__article#q21
        .nrg-typography-h2 21. Входит ли НДС в цену, указанную на сайте?
        p
          | Да, ндс входит в цену изделия на сайте.



      article.page__article#q22
        .nrg-typography-h2 22. Сколько стоит доставка?
        p
          | Доставка по г. Москве (в случае приобретения изделия) – бесплатная. Стоимость доставки в московскую область и регионы россии определяется при заказе нашим оператором. Ориентировочную стоимость доставки вы можете посмотреть в разделе «доставка и оплата»



      article.page__article#q23
        .nrg-typography-h2 23. Существует ли в вашем магазине система скидок?
        p
          | В нашем ювелирном магазине существует гибкая система скидок.
          | Подробная информация на нашем сайте в разделе «система скидок»

      article.page__article#q24
        .nrg-typography-h2 24. Через какое время, после оформления заказа на сайте, можно получить ответ?
        p
          | Если вы размещаете заказ в течении рабочего дня магазина (т.Е. Пн.-пт. С 09:00 до 18:00), то вы получаете ответ в тот же день. Если заказ размещен после окончания рабочего дня или в выходной день, вы получите ответ в течении следующего рабочего дня.

      article.page__article#q25
        .nrg-typography-h2 25. Если изделие сломалось или выпал камень, какие гарантии?
        p
          | Если изделие было сломано или из изделия выпал камень из-за наличия заводского брака, то мы бесплатно отремонтируем или поменяем это изделие на аналогичное.

      article.page__article#q26
        .nrg-typography-h2 26. Как к Вам подъехать, чтобы померить и посмотреть изделия?
        p
          | К сожалению, это невозможно. Мы осуществляем продажу ювелирных только с доставкой покупателю!

      article.page__article#q27
        .nrg-typography-h2 27. Как производится доставка?
        p
          | Доставка производится по согласованию с покупателем специализированной курьерской службой.

      article.page__article#q28
        .nrg-typography-h2 28. Циркон, кубик циркония или фианит – что лучше и в чем отличие?
        p
          | На самом деле это названия одного и того же синтетического камня, который чаще всего используется для имитации бриллианта. Правильные названия: кубик циркония (cz) – название пришло к нам из-за границы, оно обозначает вид кристаллической решетки и материал, название фианит – российское (сокращение от физический институт ан ссср). Поэтому в зависимости от того, где закуплены камни, производитель маркирует вставку в изделие соответствующим образом.

      article.page__article#q29
        .nrg-typography-h2 29. Могу ли я купленный у вас Подарочный сертификат поменять на деньги?
        p
          | Увы.

      article.page__article#q30
        .nrg-typography-h2 30. Может ли привезти курьер несколько вариантов изделий на выбор?
        p
          | В данный момент мы не возим на выбор изделия.

      article.page__article#q31
        .nrg-typography-h2 31. Мне привезли кольцо – оно мне велико (мало), что делать?
        p
          | 1. Вы можете отказаться от кольца при курьере, оплатив доставку. Согласно отраслевому стандарту ост 117-3-002-95 размер кольца, браслета, цепочки может незначительно отличаться от указанного на бирке. 2. Вы можете оплатить изделие и самостоятельно отнести его в ювелирную мастерскую, где вам за 200-500 рублей уменьшат или увеличат размер, не причиняя ему никакого вреда.

      article.page__article#q32
        .nrg-typography-h2 32. Что делать, если на бирке указан размер 18,5, а в ювелирном магазине, померив, мне сказали, что это 19 размер?
        p
          | Данная ситуация не является фабричным браком. Согласно отраслевому стандарту ост 117-3-002-95 размер кольца, браслета, цепочки может незначительно отличаться от указанного на бирке.
