extends layouts/application

append config
  - var PageTitle = ''
  - var PageClass = 'about'
  - var PagePath = '/'


block breadcrumbs
  include shared/_breadcrumbs_about


block nav_tabs
  include shared/_nav_tabs_static_page


block content
  section#contacts_and_delivery.section.contacts
    .container
      article.contents
        .h1 О магазине
        p
          | Интернет-магазин ювелирных изделий «GOLD4u» — это новая философия покупок, новый способ жить, не тратя драгоценное время на покупку драгоценных вещей.
          | Сегодня «GOLD4u» – крупнейший в Рунете интернет-магазин ювелирных изделий из золота, платины, серебра, с бриллиантами, изумрудами, рубинами и другими драгоценными камнями. Выбор любого изделия в нашем магазине – это увлекательный процесс, максимально упрощенный для покупателя.
        p
          | Мы работаем для тех, кто по-настоящему ценит время. Кто не готов тратить его на пробки по пути в магазин, очереди и бесконечный изматывающий процесс «выбирания» из сотни похожих вариантов.
          | Мы помогаем выбирать то, что нужно Вам нужно — и быстро. Мы постоянно работаем над качеством изображений и описаниями ювелирных изделий, чтобы вам легче было сделать выбор.
          | Новый уровень покупок – это когда выбор становится осознанным и простым – выбор товара для покупателя, а не покупателя для товара. Когда не человек едет за покупками, а покупки едут к человеку, словно по мановению волшебной палочки. Все это – дело техники.
        p
          | Мы открыты для  взаимодействия с вами и всегда рады услышать пожелания и рекомендации по совершенствованию нашей работы.
      article#contacts
        .h2 Контакты
        .h3
          | Для покупателей: 
          br
          |         8-800-555-99-54, 8-495-790-72-25,  sale@gold4u.ru
        .some_contacts
          .main_contacts
            p
              | PR и реклама: +7 (495) 790-72-25, доб. 106 
              br
              |             Оптовые продажи:  +7 (495) 790-72-24 
              br
              |             Для поставщиков: +7(495) 790-72-25, доб. 110
            p
              | Офис:  107023, Россия, Москва, 
              br
              |             Малая Семёновская,  д. 9, стр. 3. офис 283
            p
              | Время работы: пн.-пт. 9:00 - 18:00 
              br
              |             Время работы доставки: с 7:00 до 22:00
          .aside_contacts
            p
              | Претензии и рекламации: 
              br
              |             +7 (495) 790-72-25, доб. 109
            p
              | Генеральный директор —
              | Янчевская Ольга Михайловна
              | olga@gold4u.ru
            p
              | SKYPE:  gold_4u 
              br
              |             ICQ:  492-114-803
      .map
        script(type='text/javascript', charset='utf-8', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=QhzOH95AcPwlWddyrlUdp2_fQ1u8lCqF&width=auto&height=350')
      article
        p
          | 14 февраля 2005 года мы приняли наш первый заказ через ювелирный интернет магазин GOLD4U.ru и с тех пор считаем День Святого Валентина днем рождения GOLD4U.ru.
          | Сегодня в Рунете существуют сотни ювелирных интернет магазинов, но мы по праву считаем себя одним из первых и старейших ювелирных интернет магазинов Рунета и законодателями трендов развития ювелирной торговли через интернет.
          | Ежегодно, более 1 500 000 человек, приходит к нам, чтобы найти и купить ювелирное изделие, большинство из них становятся нашими постоянными клиентами. За время нашей работы десятки тысяч наших покупателей стали обладателями высококачественных ювелирных изделий.
        p
          | Мы всеми возможными способами поощряем открытость и честность во взаимных отношениях с покупателями и поставщиками. Для наших клиентов мы предлагаем ювелирные изделия от ведущих российских и иностранных поставщиков.
          | В разное время на сайте были представлены украшения более чем от 70 производителей, в том числе: Адамас, Альдзена, Бронницкий ювелир, Вальтера, Валентин Юдашкин, Лукас-М, Московский ювелирный завод, Красноярский завод цветных металлов, Эстет и другие.
        p
          | Мы гордимся тем, что хорошо делаем свою работу и благодарим Вас, за то,
          | что Вы выбрали нас!
        p
          | Вы можете выбрать великолепные ювелирные изделия от GOLD4U.ru в нашем каталоге.
          | Подробные ответы на возникающие вопросы Вы можете получить в разделах: Доставка, Способы оплаты, Гарантии, Возврат товара, Договор публичной оферты.
      article.important
        p
          | Подробные ответы на возникающие вопросы Вы можете получить в разделах: 
          a(href='', title='') Контакты
          | , 
          a(href='', title='') Способы оплаты
          | , 
          a(href='', title='') Гарантии
          | , 
          a(href='', title='') Возврат
          | ,  
          a(href='', title='') Договор публичной оферты
          | , 
          a(href='', title='') Часто задаваемые вопросы
          | .