extends layouts/application

append config
  - var PageTitle = ''
  - var PageClass = 'catalogue'
  - var PagePath = '/'

block content
  // CATALOGUE
  section.section.p-catalogue
    .container
      .products_small_gallery
        .catalogue_items.grid
          .grid-item.item
            .gellery_preview
              a(href='/catalogue/item/', title='')
                img(src='images/catalogue/small/1.jpg', alt='')
                .price
                  | 5 902 ₽
              .item_info
                h3
                  | Кулон Афродита
                p.help_text
                  | Из красного золота 585 пробы
                  | основная вставка: Бриллиант
                big.price
                  | 175 902 ₽
                .actions
                  span.button-s.defer_to_compare
                    ins.icon.star
                    |                   Отложить к
                    |                   сравнению
                  span.button-s.quick_look
                    ins.icon.quicklook
                    |                   Быстрый просмотр
          .grid-item.item
            .gellery_preview
              a(href='/catalogue/item/', title='')
                img(src='images/catalogue/small/2.jpg', alt='')
                .price
                  | 5 902 ₽
              .item_info
                h3
                  | Кулон Афродита
                p.help_text
                  | Из красного золота 585 пробы
                  | основная вставка: Бриллиант
                big.price
                  | 175 902 ₽
                .actions
                  span.button-s.defer_to_compare
                    ins.icon.star
                    |                   Отложить к
                    |                   сравнению
                  span.button-s.quick_look
                    ins.icon.quicklook
                    |                   Быстрый просмотр
          .item.grid-item
            .gellery_preview
              a(href='/catalogue/item/', title='')
                img(src='images/catalogue/small/8.jpg', alt='')
                .price
                  | 5 902 ₽
              .item_info
                h3
                  | Кулон Афродита
                p.help_text
                  | Из красного золота 585 пробы
                  | основная вставка: Бриллиант
                big.price
                  | 175 902 ₽
                .actions
                  span.button-s.defer_to_compare
                    ins.icon.star
                    |                   Отложить к
                    |                   сравнению
                  span.button-s.quick_look
                    ins.icon.quicklook
                    |                   Быстрый просмотр
          .item.grid-item
            .gellery_preview
              a(href='/catalogue/item/', title='')
                img(src='images/catalogue/small/9.jpg', alt='')
                .price
                  | 5 902 ₽
              .item_info
                h3
                  | Кулон Афродита
                p.help_text
                  | Из красного золота 585 пробы
                  | основная вставка: Бриллиант
                big.price
                  | 175 902 ₽
                .actions
                  span.button-s.defer_to_compare
                    ins.icon.star
                    |                   Отложить к
                    |                   сравнению
                  span.button-s.quick_look
                    ins.icon.quicklook
                    |                   Быстрый просмотр
          .item.grid-item
            .gellery_preview
              a(href='/catalogue/item/', title='')
                img(src='images/catalogue/small/10.jpg', alt='')
                .price
                  | 5 902 ₽
              .item_info
                h3
                  | Кулон Афродита
                p.help_text
                  | Из красного золота 585 пробы
                  | основная вставка: Бриллиант
                big.price
                  | 175 902 ₽
                .actions
                  span.button-s.defer_to_compare
                    ins.icon.star
                    |                   Отложить к
                    |                   сравнению
                  span.button-s.quick_look
                    ins.icon.quicklook
                    |                   Быстрый просмотр
          .item.grid-item
            .gellery_preview
              a(href='/catalogue/item/', title='')
                img(src='images/catalogue/small/11.jpg', alt='')
                .price
                  | 5 902 ₽
              .item_info
                h3
                  | Кулон Афродита
                p.help_text
                  | Из красного золота 585 пробы
                  | основная вставка: Бриллиант
                big.price
                  | 175 902 ₽
                .actions
                  span.button-s.defer_to_compare
                    ins.icon.star
                    |                   Отложить к
                    |                   сравнению
                  span.button-s.quick_look
                    ins.icon.quicklook
                    |                   Быстрый просмотр
          .item.grid-item
            .gellery_preview
              a(href='/catalogue/item/', title='')
                img(src='images/catalogue/small/3.jpg', alt='')
                .price
                  | 5 902 ₽
              .item_info
                h3
                  | Кулон Афродита
                p.help_text
                  | Из красного золота 585 пробы
                  | основная вставка: Бриллиант
                big.price
                  | 175 902 ₽
                .actions
                  span.button-s.defer_to_compare
                    ins.icon.star
                    |                   Отложить к
                    |                   сравнению
                  span.button-s.quick_look
                    ins.icon.quicklook
                    |                   Быстрый просмотр
          .item.grid-item
            .gellery_preview
              a(href='/catalogue/item/', title='')
                img(src='images/catalogue/small/4.jpg', alt='')
                .price
                  | 5 902 ₽
              .item_info
                h3
                  | Кулон Афродита
                p.help_text
                  | Из красного золота 585 пробы
                  | основная вставка: Бриллиант
                big.price
                  | 175 902 ₽
                .actions
                  span.button-s.defer_to_compare
                    ins.icon.star
                    |                   Отложить к
                    |                   сравнению
                  span.button-s.quick_look
                    ins.icon.quicklook
                    |                   Быстрый просмотр
          .item.grid-item
            .gellery_preview.card
              a(href='/catalogue/item/', title='')
                img(src='images/catalogue/small/5.jpg', alt='')
                .price.discount
                  | 5 902 ₽ 
                  ins %
              .item_info
                h3
                  | Кулон Афродита
                p.help_text
                  | Из красного золота 585 пробы
                  | основная вставка: Бриллиант
                big.price
                  | 175 902 ₽
                .actions
                  span.button-s.defer_to_compare
                    ins.icon.star
                    |                   Отложить к
                    |                   сравнению
                  span.button-s.quick_look
                    ins.icon.quicklook
                    |                   Быстрый просмотр
          .item.grid-item
            .gellery_preview
              a(href='/catalogue/item/', title='')
                img(src='images/catalogue/small/6.jpg', alt='')
                .price
                  | 5 902 ₽
              .item_info
                h3
                  | Кулон Афродита
                p.help_text
                  | Из красного золота 585 пробы
                  | основная вставка: Бриллиант
                big.price
                  | 175 902 ₽
                .actions
                  span.button-s.defer_to_compare
                    ins.icon.star
                    |                   Отложить к
                    |                   сравнению
                  span.button-s.quick_look
                    ins.icon.quicklook
                    |                   Быстрый просмотр
          .item.grid-item
            .gellery_preview
              a(href='/catalogue/item/', title='')
                img(src='images/catalogue/small/7.jpg', alt='')
                .price
                  | 5 902 ₽
              .item_info
                h3
                  | Кулон Афродита
                p.help_text
                  | Из красного золота 585 пробы
                  | основная вставка: Бриллиант
                big.price
                  | 175 902 ₽
                .actions
                  span.button-s.defer_to_compare
                    ins.icon.star
                    |                   Отложить к
                    |                   сравнению
                  span.button-s.quick_look
                    ins.icon.quicklook
                    |                   Быстрый просмотр
          .item.grid-item
            .gellery_preview
              a(href='/catalogue/item/', title='')
                img(src='images/catalogue/small/12.jpg', alt='')
                .price
                  | 5 902 ₽
              .item_info
                h3
                  | Кулон Афродита
                p.help_text
                  | Из красного золота 585 пробы
                  | основная вставка: Бриллиант
                big.price
                  | 175 902 ₽
                .actions
                  span.button-s.defer_to_compare
                    ins.icon.star
                    |                   Отложить к
                    |                   сравнению
                  span.button-s.quick_look
                    ins.icon.quicklook
                    |                   Быстрый просмотр
          .item.grid-item
            .gellery_preview
              a(href='/catalogue/item/', title='')
                img(src='images/catalogue/small/1.jpg', alt='')
                .price
                  | 5 902 ₽
              .item_info
                h3
                  | Кулон Афродита
                p.help_text
                  | Из красного золота 585 пробы
                  | основная вставка: Бриллиант
                big.price
                  | 175 902 ₽
                .actions
                  span.button-s.defer_to_compare
                    ins.icon.star
                    |                   Отложить к
                    |                   сравнению
                  span.button-s.quick_look
                    ins.icon.quicklook
                    |                   Быстрый просмотр
          .item.grid-item
            .gellery_preview
              a(href='/catalogue/item/', title='')
                img(src='images/catalogue/small/2.jpg', alt='')
                .price
                  | 5 902 ₽
              .item_info
                h3
                  | Кулон Афродита
                p.help_text
                  | Из красного золота 585 пробы
                  | основная вставка: Бриллиант
                big.price
                  | 175 902 ₽
                .actions
                  span.button-s.defer_to_compare
                    ins.icon.star
                    |                   Отложить к
                    |                   сравнению
                  span.button-s.quick_look
                    ins.icon.quicklook
                    |                   Быстрый просмотр
          .item.grid-item
            .gellery_preview
              a(href='/catalogue/item/', title='')
                img(src='images/catalogue/small/3.jpg', alt='')
                .price
                  | 5 902 ₽
              .item_info
                h3
                  | Кулон Афродита
                p.help_text
                  | Из красного золота 585 пробы
                  | основная вставка: Бриллиант
                big.price
                  | 175 902 ₽
                .actions
                  span.button-s.defer_to_compare
                    ins.icon.star
                    |                   Отложить к
                    |                   сравнению
                  span.button-s.quick_look
                    ins.icon.quicklook
                    |                   Быстрый просмотр
          .item.grid-item
            .gellery_preview
              a(href='/catalogue/item/', title='')
                img(src='images/catalogue/small/3.jpg', alt='')
                .price
                  | 5 902 ₽
              .item_info
                h3
                  | Кулон Афродита
                p.help_text
                  | Из красного золота 585 пробы
                  | основная вставка: Бриллиант
                big.price
                  | 175 902 ₽
                .actions
                  span.button-s.defer_to_compare
                    ins.icon.star
                    |                   Отложить к
                    |                   сравнению
                  span.button-s.quick_look
                    ins.icon.quicklook
                    |                   Быстрый просмотр
          .item.grid-item
            .gellery_preview
              a(href='/catalogue/item/', title='')
                img(src='images/catalogue/small/4.jpg', alt='')
                .price
                  | 5 902 ₽
              .item_info
                h3
                  | Кулон Афродита
                p.help_text
                  | Из красного золота 585 пробы
                  | основная вставка: Бриллиант
                big.price
                  | 175 902 ₽
                .actions
                  span.button-s.defer_to_compare
                    ins.icon.star
                    |                   Отложить к
                    |                   сравнению
                  span.button-s.quick_look
                    ins.icon.quicklook
                    |                   Быстрый просмотр
          .item.grid-item
            .gellery_preview.card
              a(href='/catalogue/item/', title='')
                img(src='images/catalogue/small/5.jpg', alt='')
                .price.discount
                  | 5 902 ₽ 
                  ins %
              .item_info
                h3
                  | Кулон Афродита
                p.help_text
                  | Из красного золота 585 пробы
                  | основная вставка: Бриллиант
                big.price
                  | 175 902 ₽
                .actions
                  span.button-s.defer_to_compare
                    ins.icon.star
                    |                   Отложить к
                    |                   сравнению
                  span.button-s.quick_look
                    ins.icon.quicklook
                    |                   Быстрый просмотр
          .grid-item.banner.stamp.stamp1
            a(href='#', title='')
              img(src='images/banners/hd1.jpg', alt='')
          .banner.grid-item.stamp.stamp2
            a(href='#', title='')
              img(src='images/banners/diamond_constructor.jpg', alt='')
          .banner.grid-item.stamp.stamp3
            a(href='#', title='')
              img(src='images/banners/hd2.jpg', alt='')
          .item.grid-item.big_layout
            .gellery_preview
              a(href='/catalogue/item/', title='')
                img(src='images/catalogue/small/2.jpg', alt='')
                .price
                  | 5 902 ₽
              .item_info
                h3
                  | Кулон Афродита
                p.help_text
                  | Из красного золота 585 пробы
                  | основная вставка: Бриллиант
                big.price
                  | 175 902 ₽
                .actions
                  span.button-s.defer_to_compare
                    ins.icon.star
                    |                   Отложить к
                    |                   сравнению
                  span.button-s.quick_look
                    ins.icon.quicklook
                    |                   Быстрый просмотр
    nav.pagination
      ul.pages_list
        ins.prev
        li
          a.active(href='#', title='Go to page 1') 1
        li
          a(href='#', title='Go to page 2') 2
        li
          a(href='#', title='Go to page 3') 3
        li
          a(href='#', title='Go to page 4') 4
        li
          a(href='#', title='Go to page 5') 5
        li
          a(href='#', title='Go to page 6') 6
        li
          a(href='#', title='Go to page 7') 7
        li
          | …
        li
          a(href='#', title='Go to page 53') 53
        li
          a(href='#', title='Go to page 54') 54
        li
          a(href='#', title='Go to page 55') 55
        li
          a(href='#', title='Go to page 56') 56
        li
          a(href='#', title='Go to page 57') 57
        li
          a(href='#', title='Go to page 58') 58
        li
          a(href='#', title='Go to page 59') 59
        ins.next
  // ABOUT
  section.section.about_info
    .tablike_header
      .h2 О разделе
    .container
      h1
        | Все изделия GOLD4U
      h2
        | Алмазный блеск очаровывает и восторгает, но цену изделий с бриллиантами назвать скромной сложно.
      .container
        article.hyphenate
          p
            | Алмазный блеск очаровывает и восторгает, но цену изделий с бриллиантами назвать скромной сложно. Бюджетной альтернативой таким аксессуарам считаются кольца с фианитами – искусственно выращенными камнями, которые ничем не уступают своим натуральным «братьям».
          p
            | Споры о том, по каким признакам можно отличить эти два минерала, беспочвенны – обычным невооруженным взглядом разницу увидеть нельзя. Дело в том, что оба камня практически идентичны по своим характеристикам. Хотя фианит стоит относительно недорого, он обладает коэффициентом преломления света близким к «алмазному», поэтому блестит точно так же.
          p
            | Интересно, что в некоторых странах грань между алмазами и фианитами вообще не проводят. К примеру, в ювелирных магазинах Арабских Эмиратов на прилавке можно увидеть недорогие кольца из разряда «изделия с бриллиантом», у которых на ценнике обнаружится пометка «CZ Diamond» – а это именно фианит.
          p
            | В магазине GOLD4U.RU недорогие кольца из золота с искусственно выращенными алмазами привлекают не только своей ценой, но и очаровательным дизайном. Почитатели известных брендов смогут подобрать для себя украшения в стиле Chanel – с фирменным логотипом или оригинальным драгоценным цветком. Или приобрести стильное колечко с фианитами Сваровски.
          p
            | Мы открыты для взаимодействия с вами и всегда рады услышать пожелания и рекомендации по совершенствованию нашей работы.
            | Такие камни ценятся высоко – технология их изготовления держится в строжайшей тайне.лышать пожелания и рекомендации по совершенствованию нашей работы.
  .popup.popup__quicklook
    ins.close ×
    ins.prev
    ins.next
    .item_info
      .gallery
        .thumbnails
          ul.thumbnails_list
            li.thumbnail
              img(src='images/items/item/small/1.jpg', data-big='images/items/item/big/1.jpg', alt='')
            li.thumbnail
              img(src='images/items/item/small/2.jpg', data-big='images/items/item/big/2.jpg', alt='')
            li.thumbnail
              img(src='images/items/item/small/1.jpg', data-big='images/items/item/big/1.jpg', alt='')
            li.thumbnail
              img(src='images/items/item/small/2.jpg', data-big='images/items/item/big/2.jpg', alt='')
        .big_view
          img(src='images/items/item/big/1.jpg', alt='')
      .item_details
        div(calss='item_param')
          h2
            | Кольцо помолвочное
            span.slaquo  
            span.hlaquo «
            | Каприз принцессы»
        .item_param
          p.value
            | Из красного золота 585 пробы
            | основная вставка: Бриллиант
        .item_param
          p.label
            | Размер кольца
          .custom_select
            select(name='', id='')
              option(value='') 18
          a.how_to(href='#')
            | Как определить
            br
            |           размер кольца
        .item_param
          p.label
            span.availability
              | В наличии
          .prices
            span.old_price 8 500 ₽
            span.price 7 200 ₽
        .actions
          a.button.add_to_cart(href='#')
            | В Корзину
          span.button-s.defer_to_compare
            ins.icon.star
            |           Отложить к
            |           сравнению
          span.button-s.add_to_wishlist
            ins.icon.heart
            |           Добавить в Список Желаний