extends layouts/application

append config
  - var PageTitle = ''
  - var PageClass = 'catalogue'
  - var PagePath = '/'

block breadcrumbs
  include shared/_breadcrumbs
  

block content

  section.nrg-catalog.nrg-catalog__items.mdl-grid
    .mdl-cell.mdl-cell--12-col
      - var catalog_items = [1, 2, 8, 9, 10, 11, 3, 5, 6, 7, 4, 12, 2, 5, 6 , 7, 8, 9]

      .mdl-grid.nrg-catalog__grid.grid-packery

        each val in catalog_items
          if val == 1
            .mdl-cell.mdl-cell--4-col.mdl-cell--2-col-tablet.stamp.nrg-item-block__outner
              a.nrg-item-block(href='#', title='', style='background-image: url("images/banners/hd1.jpg")')

          if val == 3
            .mdl-cell.mdl-cell--4-col.mdl-cell--2-col-tablet.stamp.nrg-item-block__outner
              a.nrg-item-block(href='#', title='', style='background-image: url("images/banners/diamond_constructor.jpg")')

          if val == 4
            .mdl-cell.mdl-cell--4-col.mdl-cell--2-col-tablet.stamp.nrg-item-block__outner
              a.nrg-item-block(href='#', title='', style='background-image: url("images/banners/hd2.jpg")')

          .mdl-cell.mdl-cell--2-col.mdl-cell--2-col-tablet.nrg-item__outner
            .nrg-item
              a( href='item.html', title='' )
                img( src='images/catalogue/small/#{val}.jpg', alt='' )
                .nrg-item__price 5 902 ₽
              .nrg-item-info
                h3 Кулон Афродита
                p.nrg-item-info__help-text Из красного золота 585 пробы основная вставка: Бриллиант
                big.nrg-item-info__price 175 902 ₽
                .nrg-item-info__actions
                  span.button-s.button--defer-to-compare
                    ins.icon.star
                    | Отложить к сравнению
                  span.button-s.button--quick-look( data-look=(val%2 + 1) )
                    ins.icon.quicklook
                    | Быстрый просмотр



    .mdl-cell.mdl-cell--12-col
      nav.pagination
        ul.pages_list
          ins.prev
          li
            a.active(href='#', title='Go to page 1') 1
          li
            a(href='#', title='Go to page 2') 2
          li
            a(href='#', title='Go to page 3') 3
          li.mdl-cell--hide-phone
            a(href='#', title='Go to page 4') 4
          li.mdl-cell--hide-tablet.mdl-cell--hide-phone
            a(href='#', title='Go to page 5') 5
          li.mdl-cell--hide-tablet.mdl-cell--hide-phone
            a(href='#', title='Go to page 6') 6
          li.mdl-cell--hide-tablet.mdl-cell--hide-phone
            a(href='#', title='Go to page 7') 7
          li
            | …
          li.mdl-cell--hide-tablet
            a(href='#', title='Go to page 53') 53
          li.mdl-cell--hide-tablet.mdl-cell--hide-phone
            a(href='#', title='Go to page 54') 54
          li.mdl-cell--hide-tablet.mdl-cell--hide-phone
            a(href='#', title='Go to page 55') 55
          li.mdl-cell--hide-phone
            a(href='#', title='Go to page 56') 56
          li.mdl-cell--hide-phone
            a(href='#', title='Go to page 57') 57
          li
            a(href='#', title='Go to page 58') 58
          li
            a(href='#', title='Go to page 59') 59
          ins.next


  section.section__about-info
    .mdl-grid
      .mdl-cell.mdl-cell--12-col.nrg-tablike-header
        .h2.nrg-tablike-header__title О разделе

    .mdl-grid
      .mdl-cell.mdl-cell--8-col.mdl-cell--2-offset-desktop.mdl-typography--text-center
        h1.nrg-typography-h1 Все изделия GOLD4U
      .mdl-cell.mdl-cell--6-col.mdl-cell--3-offset-desktop.mdl-cell--8-col-tablet.mdl-typography--text-center
        p.nrg-typography-desc Алмазный блеск очаровывает и восторгает, но цену изделий с бриллиантами назвать скромной сложно.

    .mdl-grid
      .mdl-cell.mdl-cell--8-col.mdl-cell--2-offset-desktop.nrg-journal
        p
          | Алмазный блеск очаровывает и восторгает, но цену изделий с бриллиантами назвать скромной сложно. Бюджетной альтернативой таким аксессуарам считаются кольца с фианитами – искусственно выращенными камнями, которые ничем не уступают своим натуральным «братьям».
        p
          | Споры о том, по каким признакам можно отличить эти два минерала, беспочвенны – обычным невооруженным взглядом разницу увидеть нельзя. Дело в том, что оба камня практически идентичны по своим характеристикам. Хотя фианит стоит относительно недорого, он обладает коэффициентом преломления света близким к «алмазному», поэтому блестит точно так же.
        p
          | Интересно, что в некоторых странах грань между алмазами и фианитами вообще не проводят. К примеру, в ювелирных магазинах Арабских Эмиратов на прилавке можно увидеть недорогие кольца из разряда «изделия с бриллиантом», у которых на ценнике обнаружится пометка «CZ Diamond» – а это именно фианит.
        p
          | В магазине GOLD4U.RU недорогие кольца из золота с искусственно выращенными алмазами привлекают не только своей ценой, но и очаровательным дизайном. Почитатели известных брендов смогут подобрать для себя украшения в стиле Chanel – с фирменным логотипом или оригинальным драгоценным цветком. Или приобрести стильное колечко с фианитами Сваровски.
        p
          | Мы открыты для взаимодействия с вами и всегда рады услышать пожелания и рекомендации по совершенствованию нашей работы.
          | Такие камни ценятся высоко – технология их изготовления держится в строжайшей тайне.лышать пожелания и рекомендации по совершенствованию нашей работы.
  

  include shared/_popups