extends layouts/application

append config
  - var PageTitle = 'Забыли пароль'
  - var PageClass = ''
  - var PagePath = '/forgot_password.html'


block breadcrumbs

  nav.breadcrumbs.breadcrumbs--light
    ul.breadcrumbs_list.breadcrumbs_list--light
      li
        a(href='/', title='Главная') Главная
      li
        a(href='/personal_info.html', title='Поиск') Личный кабинет

block nav_tabs
  include shared/_nav_tabs_cabinet_page

  
block content
  section.section.p-register
    .container
      .form_block
        form(action='')
          .form__header
            .h2
              | Восстановить пароль
            .links
              a.link(href='/cabinet/log-in', title='Войти') Войти
          .form__fields
            label.field(for='')
              span.label__title Электронная почта
              span.input
                input(type='text')
          button.button.big__button Отправить