extends layouts/application

append config
  - var PageTitle = 'Войти'
  - var PageClass = 'login'
  - var PagePath = '/login.html'


block breadcrumbs

  nav.breadcrumbs.breadcrumbs--light
    ul.breadcrumbs_list.breadcrumbs_list--light
      li
        a(href='/', title='Главная') Главная
      li
        a(href='/personal_info.html', title='Поиск') Личный кабинет

block nav_tabs
  include shared/_nav_tabs_cabinet_page

  
block content
  section.section.p-login
    .container
      .form_block
        form(action='')
          .form__header
            .h2
              | Войти
            .links
              a.link(href='/cabinet/register', title='Войти') Зарегистрироваться
              a.link(href='/cabinet/forgot-password', title='Войти') Забыли пароль?
          .form__fields
            label.field(for='')
              span.label__title Электронная почта
              span.input
                input(type='text')
            label.field(for='')
              span.label__title Пароль
              span.input
                input(type='text')
          .sign__socials
            .label__title
              | Войти через
              | социальные сети
            ul.socials.connection
              li
                a.facebook(href='#', title='Войти в магазин GOLD4U при помощи Facebook', target='_blank')
              li
                a.twitter(href='#', title='Войти в магазин GOLD4U при помощи Twitter', target='_blank')
              li
                a.googleplus(href='#', title='Войти в магазин GOLD4U при помощи Google+', target='_blank')
              li
                a.vkontakte(href='#', title='GOLD4U в VK', target='_blank')
          button.button.big__button Войти

