extends layouts/application

append config
  - var PageTitle = 'Личный кабинет'
  - var PageClass = 'thanks'
  - var PagePath = '/thanks.html'


block breadcrumbs

  nav.breadcrumbs.breadcrumbs--light
    ul.breadcrumbs_list.breadcrumbs_list--light
      li
        a(href='/', title='Главная') Главная
      li
        a(href='/personal_info.html', title='Поиск') Личный кабинет

block nav_tabs
  include shared/_nav_tabs_cabinet_page

  
block content
  section.section.p-thanks
    .container
      .order_status
        .content
          .h2
            | Спасибо! 
            br
            |           Ваш заказ 
            span.order_id № 15/03/2015_121
            |   принят.
          .order_status_message
            p
              | Наши операторы свяжутся с вами в ближайшее время.
              br
              |             Если Вы сделали заказ после 18:00 или в выходной/праздничный день,
              |             с Вами свяжутся в течении следующего рабочего дня.
      .whats_next
        .content
          .h2
            | Сейчас вы можете оплатить заказ
          a.button.big(href='/cabinet/payed')
            | Оплатить
      nav.after_order_links
        ul.links_list
          li
            a(href='/') На главную
          li
            a(href='/blog') В Ювелирную Энциклопедию
          li
            a(href='/catalogue') В Каталог
